.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

/*
	order for a mobile first application:
	1. Header (.header)
	2. character meta details (.main)
	3. Attributes/skills (.col-1)
	5. AC/hitdie (.col-2)
	6. Traits (.col-3)
	7. Footer (.footer)
*/

/* Medium screens */
@media all and (min-width: 600px) {
	/* Have each column share a row */
  .col { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
	/* Each of the 4 rows spaced evenly accross the window width */
  /*.main  { flex: 2 0px; }
  .main	 { order: 1; }*/
  .col-1 { order: 1; }
  .col-2 { order: 2; }
  .col-3 { order: 3; }
}

.wrapper {
	border: red 1px solid;
}

.col {
	border: purple 1px solid;
}

.row {
	display: flex;
	flex-direction: row;
}

/*
.details-label {
}

.emphasis {
	font-weight: bold;
}

.details {
}

.details-meta {
	margin: 0;
	padding: 0;
	border: solid 1px yellow;
}

.detail-meta-group {
	border: solid 1px red;
}

.detail {
	border: solid 1px green;
}

li {
  display: block;
}

.attributes {
	display: flex;
	flex-direction: column;
}

.attribute {
	border: solid 1px black;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

.column {
	display: flex;
	flex-direction: column;
}

.save {
	border: solid 1px black;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

.save .value {
	margin-left: 3px;
	margin-right: 3px;
}

.save .name {
	padding-left: 10px;
	vertical-align: middle;
	text-align: center;
}

.proficiency .value {
	margin-right: 5px;
}

.saves {
}

.label {
	vertical-align: middle;
	text-align: center;
}

.skills {
	border: 1px purple solid;
}

.skill {
}

.skill .detail {
	margin: 0;
}

.languages {
	border: 1px solid black;
}

.skills-meta {
	display: flex;
	flex-direction: row;
}

.features-traits {
	border: solid black 1px;
}
*/

/* Hide the spinners on thee input boxes */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
